In [1]:
# 1. Data Analysis : Descriptive Statistics & Probability
pip install pydataset

Requirement already satisfied: pydataset in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (from pydataset) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\prabhleen kaur pahwa\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pydataset import data

In [3]:
datasets = data

In [15]:
cars_data = data('mtcars',show_doc=True)

mtcars

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Motor Trend Car Road Tests

### Description

The data was extracted from the 1974 _Motor Trend_ US magazine, and comprises
fuel consumption and 10 aspects of automobile design and performance for 32
automobiles (1973–74 models).

### Usage

    mtcars

### Format

A data frame with 32 observations on 11 variables.

[, 1]

mpg

Miles/(US) gallon

[, 2]

cyl

Number of cylinders

[, 3]

disp

Displacement (cu.in.)

[, 4]

hp

Gross horsepower

[, 5]

drat

Rear axle ratio

[, 6]

wt

Weight (lb/1000)

[, 7]

qsec

1/4 mile time

[, 8]

vs

V/S

[, 9]

am

Transmission (0 = automatic, 1 = manual)

[,10]

gear

Number of forward gears

[,11]

carb

Number of carburetors

### Source

Henderson and Velleman (1981), Building multiple regression models
interactively. _Biometrics_, **37**, 391–411.

### Examples

    require(graphics)
    pairs(mtcars, main = "mtcars data")
    coplot(mpg ~ disp | as.factor(cyl), data = mtcars,
           panel = panel.smooth, rows = 1)

In [16]:
cars_data = data('mtcars')
cars_data

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [8]:
cars_data.info() #non null count : means it does not have null value

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB

In [9]:
cars_data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [13]:
# Descriptive Statistics of Categorical & Non-Categorical Variables
cars_data_noncat = cars_data[['mpg', 'disp', 'hp', 'drat', 'wt', 'qsec']] # Set of Non-Categorical Variables
cars_data_noncat

                      mpg   disp   hp  drat     wt   qsec
Mazda RX4            21.0  160.0  110  3.90  2.620  16.46
Mazda RX4 Wag        21.0  160.0  110  3.90  2.875  17.02
Datsun 710           22.8  108.0   93  3.85  2.320  18.61
Hornet 4 Drive       21.4  258.0  110  3.08  3.215  19.44
Hornet Sportabout    18.7  360.0  175  3.15  3.440  17.02
Valiant              18.1  225.0  105  2.76  3.460  20.22
Duster 360           14.3  360.0  245  3.21  3.570  15.84
Merc 240D            24.4  146.7   62  3.69  3.190  20.00
Merc 230             22.8  140.8   95  3.92  3.150  22.90
Merc 280             19.2  167.6  123  3.92  3.440  18.30
Merc 280C            17.8  167.6  123  3.92  3.440  18.90
Merc 450SE           16.4  275.8  180  3.07  4.070  17.40
Merc 450SL           17.3  275.8  180  3.07  3.730  17.60
Merc 450SLC          15.2  275.8  180  3.07  3.780  18.00
Cadillac Fleetwood   10.4  472.0  205  2.93  5.250  17.98
Lincoln Continental  10.4  460.0  215  3.00  5.424  17.82
Chrysler Imperial    14.7  440.0  230  3.23  5.345  17.42
Fiat 128             32.4   78.7   66  4.08  2.200  19.47
Honda Civic          30.4   75.7   52  4.93  1.615  18.52
Toyota Corolla       33.9   71.1   65  4.22  1.835  19.90
Toyota Corona        21.5  120.1   97  3.70  2.465  20.01
Dodge Challenger     15.5  318.0  150  2.76  3.520  16.87
AMC Javelin          15.2  304.0  150  3.15  3.435  17.30
Camaro Z28           13.3  350.0  245  3.73  3.840  15.41
Pontiac Firebird     19.2  400.0  175  3.08  3.845  17.05
Fiat X1-9            27.3   79.0   66  4.08  1.935  18.90
Porsche 914-2        26.0  120.3   91  4.43  2.140  16.70
Lotus Europa         30.4   95.1  113  3.77  1.513  16.90
Ford Pantera L       15.8  351.0  264  4.22  3.170  14.50
Ferrari Dino         19.7  145.0  175  3.62  2.770  15.50
Maserati Bora        15.0  301.0  335  3.54  3.570  14.60
Volvo 142E           21.4  121.0  109  4.11  2.780  18.60

In [14]:
cars_data_cat = cars_data[['cyl', 'vs', 'am', 'gear', 'carb']]  # Set of Categorical Variables

cars_data_cat

                     cyl  vs  am  gear  carb
Mazda RX4              6   0   1     4     4
Mazda RX4 Wag          6   0   1     4     4
Datsun 710             4   1   1     4     1
Hornet 4 Drive         6   1   0     3     1
Hornet Sportabout      8   0   0     3     2
Valiant                6   1   0     3     1
Duster 360             8   0   0     3     4
Merc 240D              4   1   0     4     2
Merc 230               4   1   0     4     2
Merc 280               6   1   0     4     4
Merc 280C              6   1   0     4     4
Merc 450SE             8   0   0     3     3
Merc 450SL             8   0   0     3     3
Merc 450SLC            8   0   0     3     3
Cadillac Fleetwood     8   0   0     3     4
Lincoln Continental    8   0   0     3     4
Chrysler Imperial      8   0   0     3     4
Fiat 128               4   1   1     4     1
Honda Civic            4   1   1     4     2
Toyota Corolla         4   1   1     4     1
Toyota Corona          4   1   0     3     1
Dodge Challenger       8   0   0     3     2
AMC Javelin            8   0   0     3     2
Camaro Z28             8   0   0     3     4
Pontiac Firebird       8   0   0     3     2
Fiat X1-9              4   1   1     4     1
Porsche 914-2          4   0   1     5     2
Lotus Europa           4   1   1     5     2
Ford Pantera L         8   0   1     5     4
Ferrari Dino           6   0   1     5     6
Maserati Bora          8   0   1     5     8
Volvo 142E             4   1   1     4     2

In [39]:
import statsmodels.api
cars_data_noncat_stats = statsmodels.stats.descriptivestats.Description(cars_data_noncat).frame
cars_data_noncat_stats

C:\Users\Prabhleen Kaur Pahwa\anaconda3\lib\site-packages\statsmodels\stats\descriptivestats.py:418: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_res = stats.mode(ser.dropna())

,mpg,disp,hp,drat,wt,qsec
nobs,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
missing,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
mean,20.090625,230.721875,146.687500,3.596563,3.217250,17.848750
std_err,0.188342,3.873084,2.142590,0.016709,0.030577,0.055842
upper_ci,20.459769,238.312981,150.886899,3.629311,3.277179,17.958198
lower_ci,19.721481,223.130769,142.488101,3.563814,3.157321,17.739302
std,6.026948,123.938694,68.562868,0.534679,0.978457,1.786943
iqr,7.375000,205.175000,83.500000,0.840000,1.028750,2.007500
iqr_normal,5.467096,152.096455,61.898643,0.622693,0.762614,1.488162
mad,4.714453,108.785742,56.480469,0.453242,0.730187,1.376172
mad_normal,5.908691,136.342709,70.787770,0.568055,0.915154,1.724776
coef_var,0.299988,0.537178,0.467408,0.148664,0.304129,0.100116
range,23.500000,400.900000,283.000000,2.170000,3.911000,8.400000
max,33.900000,472.000000,335.000000,4.930000,5.424000,22.900000
min,10.400000,71.100000,52.000000,2.760000,1.513000,14.500000
skew,0.640440,0.400272,0.761436,0.278873,0.443786,0.387046
kurtosis,2.799467,1.910317,3.052233,2.435116,3.172471,3.553753
jarque_bera,2.241155,2.437707,3.095820,0.840234,1.090038,1.207813
jarque_bera_pval,0.326091,0.295569,0.212692,0.656970,0.579831,0.546672
mode,10.400000,275.800000,110.000000,3.070000,3.440000,17.020000
mode_freq,0.062500,0.093750,0.093750,0.093750,0.093750,0.062500
median,19.200000,196.300000,123.000000,3.695000,3.325000,17.710000
1%,10.400000,72.526000,55.100000,2.760000,1.544620,14.531000
5%,11.995000,77.350000,63.650000,2.853500,1.736000,15.045500
10%,14.340000,80.610000,66.000000,3.007000,1.955500,15.534000
25%,15.425000,120.825000,96.500000,3.080000,2.581250,16.892500
50%,19.200000,196.300000,123.000000,3.695000,3.325000,17.710000
75%,22.800000,326.000000,180.000000,3.920000,3.610000,18.900000
90%,30.090000,396.000000,243.500000,4.209000,4.047500,19.990000
95%,31.300000,449.000000,253.550000,4.314500,5.292750,20.104500
99%,33.435000,468.280000,312.990000,4.775000,5.399510,22.069200

In [40]:
import statsmodels.api
cars_data_cat_stats = statsmodels.stats.descriptivestats.Description(cars_data_cat).frame
cars_data_cat_stats

C:\Users\Prabhleen Kaur Pahwa\anaconda3\lib\site-packages\statsmodels\stats\descriptivestats.py:418: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_res = stats.mode(ser.dropna())

                        cyl         vs         am       gear       carb
nobs              32.000000  32.000000  32.000000  32.000000  32.000000
missing            0.000000   0.000000   0.000000   0.000000   0.000000
mean               6.187500   0.437500   0.406250   3.687500   2.812500
std_err            0.055810   0.015751   0.015593   0.023056   0.050475
upper_ci           6.296886   0.468370   0.436813   3.732690   2.911429
lower_ci           6.078114   0.406630   0.375687   3.642310   2.713571
std                1.785922   0.504016   0.498991   0.737804   1.615200
iqr                4.000000   1.000000   1.000000   1.000000   2.000000
iqr_normal         2.965204   0.741301   0.741301   0.741301   1.482602
mad                1.585938   0.492188   0.482422   0.644531   1.300781
mad_normal         1.987678   0.616866   0.604626   0.807800   1.630288
coef_var           0.288634   1.152037   1.228285   0.200082   0.574293
range              4.000000   1.000000   1.000000   2.000000   7.000000
max                8.000000   1.000000   1.000000   5.000000   8.000000
min                4.000000   0.000000   0.000000   3.000000   1.000000
skew              -0.183129   0.251976   0.381771   0.554649   1.102130
kurtosis           1.319032   1.063492   1.145749   2.056790   4.536121
jarque_bera        3.946399   5.338708   5.361657   2.826919   9.624577
jarque_bera_pval   0.139011   0.069297   0.068506   0.243300   0.008129
mode               8.000000   0.000000   0.000000   3.000000   2.000000
mode_freq          0.437500   0.562500   0.593750   0.468750   0.312500
median             6.000000   0.000000   0.000000   4.000000   2.000000
1%                 4.000000   0.000000   0.000000   3.000000   1.000000
5%                 4.000000   0.000000   0.000000   3.000000   1.000000
10%                4.000000   0.000000   0.000000   3.000000   1.000000
25%                4.000000   0.000000   0.000000   3.000000   2.000000
50%                6.000000   0.000000   0.000000   4.000000   2.000000
75%                8.000000   1.000000   1.000000   4.000000   4.000000
90%                8.000000   1.000000   1.000000   5.000000   4.000000
95%                8.000000   1.000000   1.000000   5.000000   4.900000
99%                8.000000   1.000000   1.000000   5.000000   7.380000

In [42]:
import pandas as pd
cyl_stats = pd.concat([cars_data['cyl'].value_counts(), cars_data['cyl'].value_counts(normalize=True).mul(100).round(0)], axis=1, keys=('count','percentage'))
cyl_stats

   count  percentage
8     14        44.0
4     11        34.0
6      7        22.0

In [43]:
vs_stats = pd.concat([cars_data['vs'].value_counts(), cars_data['vs'].value_counts(normalize=True).mul(100).round(0)], axis=1, keys=('count','percentage'))
vs_stats

   count  percentage
0     18        56.0
1     14        44.0

In [44]:
am_stats = pd.concat([cars_data['am'].value_counts(), cars_data['am'].value_counts(normalize=True).mul(100).round(0)], axis=1, keys=('count','percentage'))
am_stats

   count  percentage
0     19        59.0
1     13        41.0